<div id="newsletter" style="margin:0;padding:0;background:#efefef; color: #333333; font: 13px/20px 'Helvetica Neue',Helvetica,Arial,Sans-serif;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;">
  <div class="wrapper" style="margin: 0px auto 0; width: 600px; padding-top:16px; padding-bottom:10px;">
    <div class="header clearfix">
      <a class="logo" style="float:left;font-size:25px;font-weigth:bold;color:#5bb793;text-decoration:none;" href="http://www.html-js.com">
        前端乱炖
      </a>
      <span style="color:#333;margin-left:20px;font-size:16px;">通知</span>
    </div>
    <br style="clear:both; height:0">
    

    <div style="line-height:30px;text-align:center;background:#5bb793;color:#fff;border:3px solid #fff;font-size:16px;">杭JS国际大会650元门票免费送活动</div>
    <div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">
      
<div style="padding:10px 0;">
<p style="font-size:16px;">为您推荐一个活动，杭JS国际大会650元门票免费送，感谢 @Python发烧友 自费提供的免费门票，报名即可参与抽奖，</p>
<p>点这里参与：<a href="http://t.cn/RvP3m1U">http://t.cn/RvP3m1U</a></p>
<div id="act_desc" class="module" style="margin-top:30px;">
        <div class="bd">

<h3>关于杭JS</h3>

<p>杭JS——2014 JS中国开发者大会是一场专注于JavaScript和Node.js技术，为期两天的国际性技术大会。届时，大会会邀请国内外的优秀讲师为大家分享在JavaScript和Node.js技术方面的经验。大会将于6月21-22日在杭州召开。</p>

<h3>奖品规则</h3>

<p>因为门票只有一枚，所以我们只能采用抽取的方式来进行。</p>

<p>请符合条件的同学点击下方的【报名】按钮报名，报名成功后即可参与抽奖，抽奖于5月17号进行。抽取后会联系中奖者授予门票一枚。</p>

<h3>其他</h3>

<p>如果还有其他土豪大大愿意赞助门票，请打款625至本站支付宝，并且注明：赞助杭JS门票。支付宝：xinyu198736@126.com 孙**</p>

<h3>大会议程</h3>

<p>2014-6-21</p>

<ul>
<li>08:15 签到 </li>
<li>09:15 Goddy Zhao 《JS中国开发者大会介绍》</li>
<li>09:50 严清 《Then.js 异步库的实现原理及优缺点》</li>
<li>10:35 赵成 《Atom编辑器嵌入Node.js引擎实践》</li>
<li>11:10 赫门 《淘宝前后端分离实践》</li>
<li>13:30 抽奖 </li>
<li>13:50 苏培欣 《Google BigQuery API Node.js实践》</li>
<li>14:30 James Halliday 《Peer-Directed Collaborative Projects》</li>
<li>15:15 茶歇 </li>
<li>15:30 Belleve Invis 《Patrisika - Theoretical and Practical Code Generation》</li>
<li>16:15 芋头 《如何快速构建MVC应用》</li>
<li>16:45 Berg 《BlendUI - 让轻应用如Native般流畅》</li>
<li>17:30 抽奖 </li>
<li>19:00 After Party </li>
<li><p>2014-6-22</p></li>
<li><p>09:00 Sofish 《优化你的Angular Web App》</p></li>
<li>09:40 郭宇 《开源项目的管理与维护》</li>
<li>10:15 Mikael Karon 《Massive Javascript Development》</li>
<li>11:00 Garry Yao 《Scalable Web Application with TroopJS》</li>
<li>13:30 抽奖 </li>
<li>13:50 玉伯 《如何持续技术学习》</li>
<li>14:25 Caesar Chi 《Node.js 與多方服務串接實務》</li>
<li>15:10 茶歇 </li>
<li>15:25 Guillermo Rauch 待定</li>
<li>16:10 鬼道 《Hybrid API》</li>
<li>16:50 苏千 《Java序列化的Node实现》</li>
<li>17:30 抽奖</li>
</ul>

<p>地址：<a href="http://2014.jsconf.cn">http://2014.jsconf.cn</a></p></div>
      </div>
</div>
    </div>
    
<div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">
  <p style="border-top:1px solid #ddd;font-size:12px;padding-top:10px;color:#999;"><a href="http://www.html-js.com">@前端乱炖 </a> 是一个功能丰富的提供高质量内容的技术社区</p>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:5px;color:#999;">为了确保您能收到及时的通知，请将 postmaster@htmljs.sendcloud.org 添加为联系人。</p>
</div>
    
  </div>
</div>