<div id="newsletter" style="background:#efefef; color: #333333; font: 13px/20px 'Helvetica Neue',Helvetica,Arial,Sans-serif;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;">
<div class="wrapper" style="margin: 20px auto 0; width: 600px; padding-top:16px; padding-bottom:10px;">
<div class="header clearfix">
<a class="logo" style="float:left;font-size:25px;font-weigth:bold;color:#333;text-underline:none;" href="http://www.html-js.com">
前端乱炖
</a>
<span style="margin-left:15px;font-size:16px;color:#5bb793;">通知</span>
</div>
<br style="clear:both; height:0">
<div class="content" style="background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E9E9E9; margin: 2px 0 0; padding: 20px;">
<p style="border-bottom:1px solid #ddd;font-size:14px;line-height:30px;">你在前端乱炖订阅的专栏更新了一篇文章
</p>
<div style="padding:10px 0;">
<p style="font-size:16px;">你在前端乱炖订阅的专栏更新了一篇文章 《<a href="http://www.html-js.com/article/{{id}}">{{title}}</a>》</p>
</div>
<div style="padding:10px 20px;">
<p style="font-size:16px;color:#666;">{{{html}}}</p>
</div>
<div style="padding:10px">
因为邮箱限制，这里只显示部分内容，如需查看原文，点此查看：<a href="http://www.html-js.com/article/{{id}}">{{title}}</a>
</div>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:10px;color:#999;"><a href="http://www.html-js.com">@前端乱炖 </a> 是一个功能丰富的提供高质量内容的技术社区</p>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:5px;color:#999;">为了确保您能收到及时的通知，请将 postmaster@htmljs.sendcloud.org 添加为联系人。</p>
</div>
</div>
</div>