<div id="newsletter" style="background:#efefef; color: #333333; font: 13px/20px 'Helvetica Neue',Helvetica,Arial,Sans-serif;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;">
<div class="wrapper" style="margin: 20px auto 0; width: 600px; padding-top:16px; padding-bottom:10px;">
<div class="header clearfix">
<a class="logo" style="float:left;font-size:25px;font-weigth:bold;color:#333;text-underline:none;" href="http://www.html-js.com">
前端乱炖
</a>
<span>通知</span>
</div>
<br style="clear:both; height:0">
<div class="content" style="background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E9E9E9; margin: 2px 0 0; padding: 20px;">


<p>补充下，详细地址是：西湖区浙大路38号 浙江大学玉泉校区东门 。百度地图：<a href="http://j.map.baidu.com/HJlXn">http://j.map.baidu.com/HJlXn</a></p>

<blockquote>
  <p>希望大家多多支持，现在活动刚刚开始，多有搞得不周到的地方，希望大家多多包涵，我定会不断改进的。</p>
</blockquote>
<p style="border-top:1px solid #ddd;font-size:16px;padding-top:10px;">@前端乱炖</p>

</div>
</div>
</div>