<div id="newsletter" style="margin:0;padding:0;background:#efefef; color: #333333; font: 13px/20px 'Helvetica Neue',Helvetica,Arial,Sans-serif;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;">
  <div class="wrapper" style="margin: 0px auto 0; width: 600px; padding-top:16px; padding-bottom:10px;">
    <div class="header clearfix">
      <a class="logo" style="float:left;font-size:25px;font-weigth:bold;color:#5bb793;text-decoration:none;" href="http://www.html-js.com">
        前端乱炖
      </a>
      <span style="color:#333;margin-left:20px;font-size:16px;">通知</span>
    </div>
    <br style="clear:both; height:0">
    <div style="line-height:30px;text-align:center;background:#f27369;color:#fff;border:3px solid #fff;font-size:16px;">本周文章推荐</div>
    <div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">


      <p>补充下，详细地址是：西湖区浙大路38号 浙江大学玉泉校区东门 。百度地图：<a href="http://j.map.baidu.com/HJlXn">http://j.map.baidu.com/HJlXn</a></p>

      <blockquote>
        <p>希望大家多多支持，现在活动刚刚开始，多有搞得不周到的地方，希望大家多多包涵，我定会不断改进的。</p>
      </blockquote>
      

    </div>

    <div style="line-height:30px;text-align:center;background:#5bb793;color:#fff;border:3px solid #fff;font-size:16px;">本周文章推荐</div>
    <div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">
      <div style="line-height:30px;margin-top:10px;"><a href="#" style="color:#5bb793;text-decoration:none;font-size:14px;">1.想问一下这个vim的主题叫什么名字</a></div>
      <div style="color:#666;line-height:20px;font-size:12px;padding-left:20px;">
摘要: jquery ui 是当前最强大的UI库之一，其两大卖点是对IE6的良好支持与换肤功能。为了构建avalon ui，今天起我将投入一部分精力来研究时下最流行的几个ＣＳＳ框架。它是首当其冲。jquery ui的ＣＳＳ并没有打包一个文件，用户只要引入 jquery.ui.all.css，它就会将所有CSS文件通过@import语句引进来。单从@import来，它比JS高明多了，时至今天，JS的加载都需要我们来实现。jquery.ui.all.css 的内容很简单：
      </div>

      <div style="line-height:30px;margin-top:10px;"><a href="#" style="color:#5bb793;text-decoration:none;font-size:14px;">1.想问一下这个vim的主题叫什么名字</a></div>
      <div style="color:#666;line-height:20px;font-size:12px;padding-left:20px;">
摘要: jquery ui 是当前最强大的UI库之一，其两大卖点是对IE6的良好支持与换肤功能。为了构建avalon ui，今天起我将投入一部分精力来研究时下最流行的几个ＣＳＳ框架。它是首当其冲。jquery ui的ＣＳＳ并没有打包一个文件，用户只要引入 jquery.ui.all.css，它就会将所有CSS文件通过@import语句引进来。单从@import来，它比JS高明多了，时至今天，JS的加载都需要我们来实现。jquery.ui.all.css 的内容很简单：
      </div>

    </div>
    <div style="line-height:30px;text-align:center;background:#fac760;color:#fff;border:3px solid #fff;font-size:16px;">本周新闻</div>
    <div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">


      <p>补充下，详细地址是：西湖区浙大路38号 浙江大学玉泉校区东门 。百度地图：<a href="http://j.map.baidu.com/HJlXn">http://j.map.baidu.com/HJlXn</a></p>

      <blockquote>
        <p>希望大家多多支持，现在活动刚刚开始，多有搞得不周到的地方，希望大家多多包涵，我定会不断改进的。</p>
      </blockquote>
      

    </div>
<div style="background: none repeat scroll 0 0 #FFFFFF;  margin: 0px 0 0; padding: 20px;">
  <p style="border-top:1px solid #ddd;font-size:12px;padding-top:10px;color:#999;"><a href="http://www.html-js.com">@前端乱炖 </a> 是一个功能丰富的提供高质量内容的技术社区</p>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:5px;color:#999;">为了确保您能收到及时的通知，请将 postmaster@htmljs.sendcloud.org 添加为联系人。</p>
</div>
    
  </div>
</div>