<div id="newsletter" style="background:#efefef; color: #333333; font: 13px/20px 'Helvetica Neue',Helvetica,Arial,Sans-serif;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;">
<div class="wrapper" style="margin: 20px auto 0; width: 600px; padding-top:16px; padding-bottom:10px;">
<div class="header clearfix">
<a class="logo" style="float:left;font-size:25px;font-weigth:bold;color:#333;text-underline:none;" href="http://www.html-js.com">
前端乱炖
</a>
<span style="margin-left:15px;font-size:16px;color:#5bb793;">通知</span>
</div>
<br style="clear:both; height:0">
<div class="content" style="background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E9E9E9; margin: 2px 0 0; padding: 20px;">
<p style="border-bottom:1px solid #ddd;font-size:14px;line-height:30px;">{{user_nick}} 在话题区回复了你
</p>
<div style="padding:10px 0;">
<p style="font-size:16px;">你好，{{user_nick}} 在 前端乱炖话题区 回复了你 《<a href="http://www.html-js.com/topic/{{id}}">{{title}}</a>》</p>
</div>
<div style="padding:10px 20px;">
<p style="font-size:16px;">{{{html}}}</p>
</div>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:10px;color:#999;"><a href="http://www.html-js.com">@前端乱炖 </a> 是一个功能丰富的提供高质量内容的技术社区</p>
<p style="border-top:1px solid #ddd;font-size:12px;padding-top:5px;color:#999;">为了确保您能收到及时的通知，请将 postmaster@htmljs.sendcloud.org 添加为联系人。</p>
</div>
</div>
</div>