p.ad320(style="display:none;").
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 移动 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-8166279959459646"
         data-ad-slot="5550890155"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
style.
    @media screen and (min-width:100px) and (max-width:800px){
        .ad320{
            display:block !important;
        }
    }