!!! 5
html
  head
    include head
    title 友情链接 - 前端乱炖
    style
      #content li{
      list-style:none;
      font-size:14px;
      line-height:25px;
      width:200px;
      display:inline-block;
      margin-right:20px;

      }
  body#index
    include header
    #content.clearfix
      .module.links
        .hd 友情链接
        .bd 
          ul.clearfix
            li
              a(href='http://segmentfault.com/', target='_blank',style="color:#f27369") Segmentfault
            li
              a(href='http://www.tuer.me', target='_blank') 兔耳日记
            li
              a(href='http://www.woween.com/', target='_blank') 小本堂
            li
              a(href='http://www.alexblair.org', target='_blank') aの碎碎念
            li
              a(href='http://hussion.me/', target='_blank') hussion
            li
              a(href='http://wenkm.com', target='_blank') kevin
            li
              a(href='http://www.w3cplus.com', title='W3CPlus | css3教程-css3实例-css3动画 | 记述前端那些事——引领Web前沿', target='_blank') W3CPlus
            li
              a(href='http://js8.in/', target='_blank') 三水清
            li
              a(href='http://blog.linxz.de/', target='_blank') 小志的博客
            li
              a(href='http://91gaoqing.com', target='_blank') Programer's Life
            li
              a(href='http://www.zmq.cc', target='_blank') Richard.z
            li
              a(href='http://blog.baiwand.com/', target='_blank') 成长脚印
            li
              a(href='http://ourai.ws/', target='_blank') 欧雷流
            li
              a(href='http://justjavac.com', target='_blank') justjavac
            li
              a(href='http://www.wangyingran.com', target='_blank') 王迎然的博客
            li
              a(href='http://huangyang.me', target='_blank') 黄杨
            li
              a(href='http://i.h-won.com', target='_blank') h-won之队
            li
              a(href='http://www.tinghaige.com/', target='_blank') 听海阁
            li
              a(href='http://www.uedsc.com/', target='_blank') uedsc设计分享
            li
              a(href='http://www.3d414.com/', target='_blank') 趣搭3D在线试衣
            li
              a(href='http://Blog.ZjzSys.Com', target='_blank') 天网博客
            li
              a(href='http://www.tuicool.com/', target='_blank') 推酷
            li
              a(href='http://www.k68.org', target='_blank') 可乐吧
            li
              a(href='http://www.qianduan.net/', target='_blank',style="color:#f27369") 前端观察
            li
              a(href='http://www.yinfan.org', target='_blank',title="前端技术小屋") ivan's blog
            li
              a(href="http://newhtml.net/",target='_blank')  NewHTML
            li
              a(href="http://www.w3cqd.com/",target='_blank')  前端技术分享
            li
              a(href="http://lvhui.org",target="_blank") 前端博客
            li
              a(href="http://www.websjy.com",target="_blank") 设计源
            li
              a(href="http://www.aips.me") 周良博客
            li
              a(href='/search-his', target='_blank') 搜索历史