div.module(style="margin-top:10px;padding:5px 10px;").
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 跨页 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-8166279959459646"
         data-ad-slot="8754719750"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>