//- if locals.r_books
//-   .recommend-books.clearfix.module
//-     .hd 乱炖推荐好书
//-     .bd
//-       each book in r_books
//-         .book
//-           a.book-pic(href="#{book.url}",target="_blank")
//-             img(src="#{book.pic}")
//-           a.book-title(href="#{book.url}",target="_blank") #{book.title}