@import 'article/article.less';

#articles
{
  .right-actions{
    float:right;
  }
  .topactions{
    margin-bottom: 10px;
  }
  .my-columns{
    a{
      margin-left: 10px;
      color:@red;
    }
  }
  .actions{
    margin-bottom: 10px;
    a{
      margin-right: 5px;
    }
  }
  .jian{
    .t{
      .more{
        font-size: 12px;
        padding-left: 10px;
        color: @green;
      }
    }
    .lft{
      float: left;
      width: 33%;
    }
    .rht{
      float: left;
      width: 33%;
    }
    .thr{
      float: left;
      width: 33%;
    }
    .item{
      // width:470px;
      // display: inline-block;
      // _float:left;
      background: #fff;
      position: relative;
    // border-bottom:1px solid #f1f1f1;
    vertical-align: top;
    padding-top:5px;
    padding-bottom: 5px;
    overflow: hidden;
    .title{
      line-height: 25px;
      margin:0;
      height:25px;
      overflow: hidden;
      font-size:14px;
      line-height: 25px;
      font-weight: normal;
      display: block;
      color:#444;
      a{
        color: #444;

      }
    }
    .desc{
      font-size: 12px;
      color:#999;
      line-height: 20px;
      .user{
        margin-right: 10px;
        color:#999;
      }
      .time{
        margin-right: 10px;
      }
      .column{
        margin-right: 10px;
        color:#999;
      }
      .desc-item{
        font-size: 12px;
        margin-right: 10px;
        .index{
          color:#aaa;
          font-size: 12px;
          i{
            background: none;
            vertical-align: -2px;
          }
          margin-right: 3px;
        }
        .value{
          color:#999;
        }
      }
    }
  }
  .item.yooo{
    background: #F7F7F7;
  }
  .item.new{
    .title{
      color:#5bb793;
      font-weight:bold;
    }
  }
}
.columns-list{
  .bd{
    width:1100px;
  }

  .column{
    padding:5px 0;
    border-top: 1px solid #eee;
    width:300px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    .title{
      font-size: 13px;
      color:#444;
      line-height: 20px;
      font-weight: bold;
    }
    .desc{
      font-size: 12px;
      line-height: 18px;
      color:#aaa;
      margin:5px 0;
    }
    .user{
      font-size: 12px;
      line-height: 20px;
      color:#999;
      a{
        color:#999;
      }
    }
    .time{
      color:#999;
    }
    .actions{
      margin-bottom: 0;
      margin-top: 5px;
      a{
        font-size: 12px;
        color:@green;
        padding:5px 0;
        i:before{
          color:@green;
          font-size: 14px;
        }
      }
      span{
        color:#aaa;
        i:before{
          font-size: 14px;
          color: #aaa;
        }
      }
    }
  }
}
.my_columns{

  .my_column{
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;
    background: #eee;
    padding:0 10px;
    line-height: 30px;
    border-radius: 3px;
    height:30px;
    width:120px;
    overflow: hidden;
    vertical-align: top;
    .title{
      font-size: 12px;
      color:#777;
      line-height: 30px;
      overflow: hidden;
      a{
        color:#666;
      }
      .go{
        color: @green;
      }
    }

  }
  .my_column:hover{
    background: #ddd;
  }
}

.column{
  background: #fff;
  color:#333;
  padding:15px;
  border-radius: 3px;
  margin-bottom: 10px;
  .col-title{
    font-size: 16px;
    color:#666;
    font-weight: bold;
    line-height:30px;
  }
  .col-desc{
    color:#999;
    font-size: 12px;
  }
  .col-user{
    color:#999;
    font-size: 12px;
  }
  .col-action{
    margin-top: 10px;
  }

}
.col-rss{
  margin-top:10px;
  padding:10px;
  background: #eee;
  .label{
    background: #faecd0;
    color: #777;
    font-weight: normal;
    padding:5px;
  }
}
.no{
  padding:0px;
  line-height: 30px;
  font-size: 12px;
}




}

#add-article{
  background: #efefef;
  .left{
  }
  .right{
    position: relative;
    a{
      color:#6fb79b;
    }
    .item{
      border-bottom: 1px solid #eee;
      padding:5px 0;
    }
  }
  #title,#desc{
    width:630px;
  }
  #desc{
    height:50px;
  }
  .wmd-input{
    height:600px;
  }
  .columns{
    .bd{
      padding-top:10px;
    }
    .label{
      margin-right: 5px;
      float:left;
      cursor: pointer;
      margin-bottom: 5px;
    }
  }
}

#articles{
  .articles{

  }
  article{
    background: #fff;

    padding:10px 15px;
    position: relative;
    border-bottom:1px solid #f1f1f1;
    .lft{
      display: none;
      height:50px;
      width:50px;
      color:#666;
      border:1px solid #ddd;
      vertical-align: top;
      text-align: center;
      margin-right: 10px;
      line-height: 30px;
      i{
        background: none;
      }
      .count{
        color:#999;
        padding-left: 3px;
      }
    }
    .rht{
      display: inline-block;
    }
    .entry-title{
      line-height: 30px;
      margin:0;
      height:30px;
      overflow: hidden;
      font-size:15px;
      line-height: 30px;
      font-weight: normal;
      color:#444;
      a{
        color: #444;

      }
      .column-title{
        font-size: 12px;
        padding:0 2px;
        color:#888;
      }

    } 
    .entry-foot{


      .right-foot{
        float: right;
        .item{
        }
      }
      .item{
        font-size: 12px;
        line-height: 25px;

        margin-right: 10px;
        i{
          background: none;
          margin-right: 1px;
          vertical-align: -2px;
        }
        i:before{
          color: #aaa;
          background: none;
        }
        a{
          color:#aaa;
        }
        .index{

        }
        .value{

        }
      }
    }
    .user{
      position: absolute;
      right:7px;
      top:15px;
      a{
        display: block;
      }
      img{
        width:33px;
        height:33px;
      }
    }
  }

  article.yooo{
    background: #F7F7F7;
  }
  .columns{
    width:1200px;
    .column{
      display:inline-block;
      vertical-align: top;
      margin-right: 10px;
      margin-bottom:10px;
        // background: #f3f3f3;
        border-bottom: 1px solid #efefef;
        width:495px;
        height:462px;
        padding:0;
        .h{
          padding:10px;
          padding-bottom: 5px;
        }
        position: relative;
      }
      a.title{
        font-size: 16px;
        color:#444;
        display: inline-block;
        vertical-align:top;

        line-height: 20px;
        
        margin-top: 4px;
      }
      .desc{
        font-size: 12px;
        color:#aaa;
        line-height: 20px;
        margin-top:5px;
        height:40px;
      }
      .user{
        font-size: 12px;
        color:#999;
        a{

        }
        line-height: 20px;
        margin-top:5px;
      }
      .time{
        font-size: 12px;
        color:#999;
        line-height: 20px;
      }
      .actions{
        margin-bottom: 0;

        a{
          font-size: 12px;
          line-height: 20px;
          color: @green;
          i:before{
            color: @green;
          }
        }
        span{
          font-size: 12px;
          line-height: 20px;
          color: #aaa;
          i:before{
            color: #aaa;
          }
        }
      }
      
      .more{
        line-height: 30px;
        padding-left:10px;
        background: #fff;
        position: absolute;
        bottom: 0;
        a{
          color:#666;
          font-size: 12px;

        }
      }
    }

  }
  #article
  {
    .vertical-actions{
      margin-top: 20px;
      position:absolute;
      top:100px;
      right:-40px;
      .action{
        color:#666;
        font-size: 13px;
        line-height: 30px;
        text-decoration: none;
        height:30px;
        padding:0 10px;
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        em{
          font-style: normal;
        }
        span{
          color:#aaa;
          font-size: 12px;
        }
      }
      i{
        background: none;
        font-size: 15px;
        margin-right: 5px;
        color:#aaa;
      }
      .zan{
        background: @red;
        color:#fff;
        i{
          background: none;
          font-size: 15px;
          margin-right: 5px;
          color:#fff;
        }
        span{
          color:#fff;
        }
      }
    }
    .actions{
      margin-top: 20px;

      .action{
        color:#666;
        font-size: 13px;
        line-height: 30px;
        text-decoration: none;
        height:30px;
        padding:0 10px;
        display: inline-block;
        background: #fff;
        border-radius: 5px;
        em{
          font-style: normal;
        }
        span{
          color:#aaa;
          font-size: 12px;
        }
      }
      i{
        background: none;
        font-size: 15px;
        margin-right: 5px;
        color:#aaa;
      }
      .zan{
        background: @red;
        color:#fff;
        i{
          background: none;
          font-size: 15px;
          margin-right: 5px;
          color:#fff;
        }
        span{
          color:#fff;
        }
      }
    }
    .bottom-action{
      padding:10px 0;
      background: #efefef;
      .wrapper{
        width:700px;
        margin: 0 auto;
      }
      .actions{
        margin:10px 0;
      }
      .entry-meta{
        padding-top: 10px;
        border-top: 1px solid #ddd;
        color:#999;
      }
    }
    background: #fff;
    article{
      width:100%;
      margin: 0 auto;

      .wrapper{
        width:700px;
        margin:0 auto;
        position: relative;
      }
    }
    .links{
      display: none;
    }
    .artivle_nav{
      position: absolute;
      padding-top: 10px;
      left:0px;
      top:0px;

      .item{
        a{
          color:@green;
          line-height: 30px;
          padding-left: 10px;
        }
        height:30px;
        overflow: hidden;
      }
      .item-H1{
        margin-left:10px;
        font-size:14px;
      }
      .item-H2{
        margin-left:25px;
        font-size:14px;
      }
      .item-H3{
        margin-left:40px;
        font-size:12px;
      }
      .item-H4{
        margin-left:55px;
        font-size:12px;
      }
    }
    #footer{
      margin-top: 20px;
      .wrapper{
        width:700px;
        margin-left:auto;
        margin-right: auto;
        padding:0;
      }
      .module{
        padding:0;
      }
      border-top:1px solid #ddd;
    }
    .title{
      width:100%;
      margin:0 auto;
      background: #efefef;
      padding-bottom: 40px;
      padding-top: 40px;
      .wrapper{
        width:700px;
        margin:0 auto;
      }
      h2{
        font-size: 40px;
        margin:0;
        padding:0;
      }
      .info{
        font-size: 12px;

      }
      .line{
        margin-top: 10px;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
      .rss{
        background: @green;
        color:#fff;
        padding:2px 2px;
        border-radius: 3px;
        margin-left: 10px;
      }

      
    }
    .daen{
      background:url(../images/daen.png) no-repeat;
      width: 80px;
      height:90px;
      position: absolute;
      left:-57px;
      top:59px;
    }
    #content{
      overflow: visible;
      position: relative;
      width:100%;
      background: #fff;
      margin:0;
    }
    .breadcrumb{
      width:1000px;
      margin-left:auto;
      margin-right: auto;
    }
    #comment{
      width:700px;
      margin-left:auto;
      margin-right: auto;
      background: #fff;
      border-top: 1px solid #ddd;
      padding:0;
      box-shadow: none;
    }
    .donate{
      padding:0;
    }
    .right{
      .module.count{
        span{
          padding-right: 10px;
          color: #999;
        }
      }
      .module.user{
        .item{
          margin-top: 10px;
          font-size: 12px;
          color:#999;
        }
      }
      .column{
        padding:5px 0;
        border-top: 1px solid #eee;
        display: inline-block;
        vertical-align: top;
        .title{
          font-size: 13px;
          color:#444;
          line-height: 20px;
          font-weight: bold;
        }
        .desc{
          font-size: 12px;
          line-height: 18px;
          color:#aaa;
          margin:5px 0;
        }
        .user{
          font-size: 12px;
          line-height: 20px;
          color:#999;
        }

        .actions{
          margin-bottom: 0;
          margin-top: 5px;
          a{
            font-size: 12px;
            color:@green;
            i:before{
              color:@green;
            }
          }
          span{
            color:#aaa;
            i{
              color: #aaa;
            }
          }
        }
      }
    }
    .actions{
      .btn{
        line-height:28px;
        i{
        }
      }
      .action{
        font-size:12px;
        margin-right:10px;
      }
      .my{margin-left:10px;line-height:30px;}
      .fav-list{
        margin-top:10px;
        a{
          margin-right:5px;
        }
      }
    }
    .zanlogs{
      a{
        display: inline-block;
        img{
          width:30px;
          height:30px;
          border-radius: 30px;
          margin-right: 5px;
          border:2px solid #fff;
          box-shadow: 1px 1px 2px #ccc;
        }
      }
    }
    .post{
      padding-bottom: 20px;
      position: relative;
      .wrapper{
        background: #fff;
      }
      .entry-title{
       border-bottom: 1px solid #eee;
       padding-bottom: 10px;
       .headpic{
        float: left;
        margin-right: 20px;
        margin-top:10px;
      }
      .title{
        font-size:20px;
        line-height: 30px;
        margin:0;
        color: #404040;
        font-weight: normal;

      }
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#888;
        }
      }
    }
    .entry-content{
      color:#555;
      padding:20px 0;
      font-size:14px;
      line-height:25px;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      h1{
        font-size: 18px;
      }
      h2{
        font-size: 16px;
      }
      h3{
        font-size: 14px;
      }
      h4,h5,h6{
        font-size: 12px;
      }
      word-wrap: break-word; 
      p{

        line-height:25px;
        margin:20px 0;
      }
      img{
        display: block;

      }
      blockquote p{
        line-height: 25px;
        margin:0;
        font-size: 12px;
      }
    }

  }
  // #score{
  //   .bd{
  //     color:#999;

  //   }
  //   .mark{
  //     i{
  //       vertical-align: 0px;

  //       background: none;
  //     }

  //   }
  //   .zan-logs{
  //     .user{
  //       margin-right: 5px;
  //     }
  //   }
  //   .mark-score{
  //     padding-left: 10px;
  //     font-size: 14px;
  //     em{
  //       font-style: normal;
  //       color:@green;
  //     }
  //   }
  //   .mark-already{
  //     display: none;
  //   }
  //   .marked{
  //     color:#ccc;
  //     .mark-already{
  //       display: block;
  //     }
  //     .mark-score{
  //       color:#ccc;
  //     }
  //     i{
  //       color:#ccc;
  //     }
  //   }
  // }
  .other-articles{
    width:700px;
    margin:10px auto;
    box-shadow: none;
    line-height: 25px;
    a{
      font-size: 13px;

    }
    span{
      margin-left: 10px;
      color:#999;
    }
  }
  .writer-and-column{
    width:700px;
    margin:20px auto;
    .hd{
      font-size: 14px;
      color:#999;
      line-height: 30px;
      padding-left: 10px;
      letter-spacing: .1em;
      padding-bottom: 10px;
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    }
    .writer{
      width:45%;
      float:left;
      border-top:2px solid #eee;
      .head-pic{
        float:left;
        width:60px;
        overflow:hidden;
        height:60px;
        border-radius: 60px;
        margin-left: 10px;
        img{
          width:60px;
          height:60px;
          display: block;
          border-radius: 60px;
        }
      }
      .info{
        float:left;
        margin-left:10px;
        width:230px;
        .nick{
          font-size: 14px;
          color:#555;
          font-weight: bold;
        }
        .desc{
          color:#999;
          font-size: 12px;
          margin-top: 5px;
          line-height: 18px;
        }
        .weibo{
          color:#555;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
    .column{
      width:45%;
      float: right;
      border-top:2px solid #eee;
      .info{
        margin-left: 10px;
      }
      .name{
        font-size: 14px;
        color:#555;
        font-weight: bold;
      }
      .desc{
        color:#999;
        font-size: 12px;
        margin-top: 5px;
        max-height: 90px;
        overflow: hidden;
        word-break:break-all;
        line-height: 18px;
        *{font-size: 12px;line-height: 18px;font-weight: normal;color:#999;}
      }
      .others{
        font-size: 12px;
        color:#666;
      }
      .action{
        margin-top: 5px;
        .rssit{
          height:20px;
          padding:0 10px;
          line-height: 20px;
          i{
            vertical-align: -2px;
          }
        }
      }
    }

  }
}