#index{
  .left{
    margin-right:230px;
  }
  .right{
    width:220px;
    margin-left:-220px;
  }
  
  #fixed-modules{
    width:220px;
  }
   
  
  .timeline-item{
    font-size: 13px;
    .user{
      .headpic{
        border-radius: 30px;
        height:30px;
        width:30px;
        display: block;
        border:2px solid #fff;
        box-shadow: 0px 0px 3px #aaa;
        img{
          border-radius: 30px;
          height:30px;
          width:30px;
        }
      }
      float:left;
      width:50px;
    }
    .infos{
      float:left;
      width:550px;
      .action{
        line-height: 30px;
        height:30px;
        overflow: hidden;
        color:#999;
        .time{
          padding-left: 10px;
          color:#aaa;
        }
      }
      .desc{
        background: #f7f7f7;
        border-radius: 5px;
        padding:15px;
        font-size: 12px;
        color:#888;
        h1,h2,h3,h4{font-size: 13px;line-height: 30px;margin:5px 0;}
        .main_pic{
          float:left;
          max-width:250px;
          max-height:250px;
          margin-right:20px;
           margin-bottom:20px;
        }
        .card{
          position:relative;
          background:#fff;
          border-radius: 5px;
          list-style: none;
          margin:0;
          padding:15px;
          font-size:12px;
          color:#666;
          box-shadow: 2px 2px 2px #ddd;
          .head_pic{
            float:left;
            width:80px;
            img{
              width:60px;
              height:60px;
            }
          }
          .car-infos{
            float:left;
            width:400px;
          }
          .renling{
            position:absolute;
            right:10px;
            top:25px;
          }
          .sns{
            margin-left: 10px;
            a{padding-left:5px;}
            .blog{
              background: url(http://htmljs.b0.upaiyun.com/images/icon-blog.png) no-repeat center center;
              height: 15px;
              width:15px;
              display: inline-block;
              text-indent: -1000px;
              overflow: hidden;
            }
            .github{
              background: url(http://htmljs.b0.upaiyun.com/images/github.png) no-repeat center center;
              height: 15px;
              width:15px;
              display: inline-block;
              text-indent: -1000px;
              overflow: hidden;
            }
            .weibo{
              background: url(http://htmljs.b0.upaiyun.com/images/icon-weibo.png?d) no-repeat center center;
              height: 15px;
              width:15px;
              display: inline-block;
              text-indent: -1000px;
              overflow: hidden;
            }
          }

          a{
            word-wrap: normal;
            word-break: break-all;
          }
          .key{color:#aaa;margin-left:10px;}
          .key:first-child{margin-left: 0;}
          .shanchang{
            .key{
              float:left;
            }
            .value{
              float:left;
              width:350px;
            }

          }
        }
      }
    }
  }
  .timeline-item{
    padding:10px;
    padding-left: 18px;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    .entry-title{
      position: relative;
      .headpic{
        float: left;
        margin-right: 20px;
      }
      .suo{
        color:#999;
        font-size: 12px;
      }
      .title{
        font-size:15px;
        line-height: 30px;
        margin:0;
        font-weight: bold;
        font-weight: normal;
        a{
          color: #333;
        }
      }
      .title{
        margin:0;
        a{
        line-height: 30px;
        margin:0;
        color: #111;
        font-weight: normal;
        }
        .real-title{
          margin-left: 0px;
        }
         .t-user{
        display: inline-block;
        float: right;
        vertical-align: -4px;
        background: #fff;
        box-shadow: 1px 1px 1px #ddd;
        width:20px;
        height:20px;
        img{
          display: block;
        }
      }
      }
      .others{
        margin-top: 10px;
      }
      .item{
        font-size: 12px;
        margin-right: 20px;

        .index{
          color:#aaa;
        }
        .value{
          color:#aaa;
        }
        a.value{
          color:@green;
        }
      }
      .actions{
        a{
          margin-right: 5px;
        }
      }
      .tags{
        a{
          margin-right: 5px;
        }
      }
      .user{
        position: absolute;
        right:10px;
        top:7px;
        a{
          display: block;
        }
        img{
          width:40px;
          height:40px;
        }
      }
    }
    .entry-content{
      padding:20px 0;
      word-break: break-all;
      color:#404040;
      h1,h2,h3,h4,h5{
        font-size:1.5em;
      }
      p{
        font-size:14px;
        line-height:20px;
        margin:10px 0;
      }
    }
    .entry-foot{
      line-height: 30px;
      .item{
        font-size: 12px;
        margin-right: 20px;
        .index{
          color:#aaa;
        }
        .value{
          color:#aaa;
        }
        a.value{
          color:@blue;
        }
      }
    }
    .entry-name{
      position: absolute;
      top:17px;
      left:-9px;
      line-height: 18px;
      font-size: 16px;
      color:#aaa;
      padding:0 5px;
    }
  }
  .timeline-item.yooo{
    background: #F7F7F7;
  }
  .card-item{
    .t-user{
      float:right;
    }
        .index{
          color:#aaa;
        }
        .value{
          color:#aaa;
        }
        a.value{
          color:@blue;
        }
        .entry-name{
          top:12px;
        }
  }
  .article-list{
    margin:0;
    padding:0;
  
  }
  .article-item{

  }
  .question-item{

  }
  .top-users{
    .item{
      line-height: 30px;
      img{
        margin-right: 5px;
      }
    }
  }


  .mod{
    .hd{
       display: block;
       a{
        color:#444;
       }
    }
    .bd{
      width:900px;

    }
    .item{
      width:350px;
      margin-right: 20px;
      display: inline-block;
      _float:left;
      border-bottom: 1px dashed #eee;
      vertical-align: top;
      overflow: hidden;
      .title{
        color:#333;
        font-size: 13px;
        line-height: 30px;
        height:30px;
        display: block;
        overflow: hidden;
      }
      .desc{
        font-size: 12px;
        color:#999;
        line-height: 20px;
        .user{
          margin-right: 10px;
          color:#999;
        }
        .time{
          margin-right: 10px;
        }
        .column{
          margin-right: 10px;
          color:#999;
        }
        .desc-item{
        font-size: 12px;
        margin-right: 10px;
        .index{
          color:#aaa;
          font-size: 12px;
          i{
            background: none;
            vertical-align: -2px;
          }
          margin-right: 3px;
        }
        .value{
          color:#999;
        }
      }
      }
    }
    .item.new{
      .title{
        color:#5bb793;
        font-weight:bold;
      }
    }
  }
  .recent_articles{
    .columns{
      width:730px;
      margin-top:20px;
      .column{
        display:inline-block;
        vertical-align:top;
        margin-right:10px;
        margin-top:10px;
        border-bottom:1px solid #eee;
        background:#efefef;
        width:152px;
        height:30px;
        overflow:hidden;
        padding:0 10px;
        position: relative;
        img{
          width:17px;
        }
        .name{
          line-height:30px;
          font-size:12px;
          padding-left:10px;
          color:#444;
        }
        .desc{
          color:#999;
          *{
            margin:0;
            font-size:12px;
          }
        }
        .rss{
          position: absolute;
          right:2px;
          top:2px;
          z-index: 1000;
          padding:4px;
          display: block;
          background: #efefef;
          width:16px;
          height:16px;
          i:before,i{
            color: @green;
            font-size: 16px;
          }
        }
        .rssed{
          position: absolute;
          right:2px;
          width:16px;
          height:16px;
          top:2px;
          z-index: 1000;
          display: block;
          padding:4px;
          background: #efefef;
          i:before,i{
            color: #ccc;
            font-size: 16px;
          }
        }
      }
    }
  }
  .visitors{
    margin-top:20px;
    .visitor{
      display:inline-block;
      margin-right:5px;
      img{
        width:25px;
      }
    }
  }
  .tags{
    width:700px;
    margin-top:20px;
    .tag{
      padding:0 12px;
      color:#666;
      background:#eee;
      border-radius:10px;
      line-height:20px;
      display:inline-block;
      margin-top:10px;
      margin-right:10px;
      text-decoration:none;
    }
    .tag:hover{
      background:@green;
      color:#fff;
    }
  }
  .topic_tags{
    width:700px;
    margin-top:20px;
    a{
      padding:0 12px;
      color:#666;
      background:#eee;
      border-radius:10px;
      line-height:20px;
      display:inline-block;
      margin-top:10px;
      margin-right:10px;
      text-decoration:none;
    }
    a:hover{
      background:@green;
      color:#fff;
    }
    a.important{
      color:@red;
      font-weight:bold;
    }
  }
  .recent_cards{
    .card{
      display:inline-block;
      vertical-align: top;
      margin-right:5px;
      width:50px;
      img{
        width:40px;
        height:40px;
      }
      .pic{
        width:40px;
        margin:0 auto;
        position: relative;
        border-radius: 100px;
        border:1px solid #aaa;
        img{
          border-radius: 100px;
          display: block;
          width:36px;
          height:36px;
          border-radius: 100px;
          border:2px solid #fff;
        }
        
      }
      a{
        display: block;
      }
      .sex{
        border-radius: 20px;
        border:1px solid #aaa;
        width:12px;
        height:12px;
      }
      .name{
        line-height:25px;
        text-align:center;
        height:25px;
        overflow: hidden;
        width:50px;
        margin:0 auto;

        a{
          color:#666;
        }
      }
    }
    .nv-user{
      .pic{
        border:1px solid @red;
        img{
          border:2px solid #fff;
        }
      }
      .sex{
        border:1px solid @red;
      }
    }
  }
  #content .search .input-append{display:block;}
      #content .search input{height:22px;width:630px;}
      #content .search button{height:32px;width:80px;}
      .search a{margin-right:10px;}
  .quick-go{
    .btn{
      font-size: 12px;
      padding:2px 5px;
      line-height: 20px;
      height:20px;
      margin-right: 5px;
    }
  }
}